<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active pl-3">
        <img src="https://a-static.mlcdn.com.br/618x463/resina-decorativa-baby-groot-marvel/fingsstore/n8tugneh3/1f18da159a952197bf006854e3c864cc.jpg" alt="Imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
      </li>
      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white fs-16">Olá, Nome User</p>
      </li>

      <li class="nav-item pl-3">
        <a href="">
          <p class="text-white fs-16 m-0">
              <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
             </p> 
      </a>
      </li>
    </ul>

  </div>
  <ul class="navbar-nav ml-auto d-flex">
    <li class="nav-item pl-3">
        <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </li>

  </ul>
  

  
</nav>
