#img-bg {
    background-image: url('https://i.pinimg.com/originals/c5/80/68/c5806888287c6a1022d90041121da6df.gif');
min-height: 695px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}